@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "bpgarial";
    src: local("bpgarial"),
      url("../assets/fonts/bpg_arial_2009.ttf") format("truetype");
    font-weight: normal;
  }
}

@layer utilities {
  .input {
    @apply block py-2 px-4 rounded-lg w-full h-14 border border-landing-primaryBorder focus:outline-none focus:ring-2 ring-white ring-opacity-20 relative bg-transparent text-base z-20;
  }
  .iconed-input {
    @apply block py-2 px-4 pr-14 rounded-lg w-full h-14 border border-landing-primaryBorder focus:outline-none focus:ring-2 ring-white ring-opacity-20 relative bg-transparent text-base z-20;
  }
  .min-height-680 {
    min-height: 680px;
  }
  .toast {
    @apply bg-landing-orange text-base font-bold text-white !important;
  }
  .loader {
    border-top-color: #e17724;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }
  .w-70vw {
    width: 70vw;
  }
  @variants responsive {
    .min-height-720 {
      min-height: 720px;
    }
    .w-50vw {
      width: 50vw;
    }
    .w-40vw {
      width: 40vw;
    }
    .w-30vw {
      width: 30vw;
    }
    .w-20vw {
      width: 20vw;
    }
  }
}

body {
  @apply bg-landing-bg;
}

/* /////////////////////////////////////////////////////////
///////  DATEPICKER STYLES
///////////////////////////////////////////////////////// */

.rmdp-wrapper {
  @apply bg-landing-primaryLight rounded-lg p-2 border border-landing-primaryBorder w-auto max-w-md !important;
}

.rmdp-calendar {
  @apply w-70vw sm:w-50vw md:w-40vw lg:w-30vw xl:w-20vw !important;
}

.rmdp-day-picker > div {
  width: 100% !important;
}

.ep-arrow,
.rmdp-ep-arrow,
.rmdp-ep-shadow {
  @apply hidden !important;
}

.rmdp-month-picker,
.rmdp-year-picker {
  @apply bg-landing-primaryLight top-2 p-0 rounded-lg !important;
}

.rmdp-shadow {
  box-shadow: 0px 0px 0px !important;
}

.rmdp-arrow {
  border: solid white !important;
  border-width: 0 4px 4px 0 !important;
  margin: 0 !important;
}

.rmdp-arrow-container {
  @apply w-auto h-auto p-3 rounded-3xl bg-landing-bgTertiary !important;
}

.rmdp-arrow-container:hover {
  @apply bg-landing-bgSecondary !important;
  box-shadow: 0px 0px 0px !important;
}

.rmdp-header-values {
  @apply text-white font-bold text-base relative !important;
}

.rmdp-week-day {
  @apply text-gray-300 text-base !important;
}

.rmdp-header-values:after {
  content: "";
  position: absolute;
  right: -14px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
  clear: both;
}

.rmdp-header-values:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
  clear: both;
}

.rmdp-day {
  @apply text-white !important;
}

.rmdp-day span {
  @apply text-base !important;
}

.rmdp-day.rmdp-today span {
  @apply bg-landing-primaryBorder !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  @apply bg-landing-orange !important;
  box-shadow: 0px 0px 0px !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  @apply bg-landing-orangeLight !important;
}

.rmdp-month-picker .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span,
.rmdp-year-picker .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span {
  @apply rounded-none !important;
}

.rmdp-month-picker
  .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden)
  span:hover,
.rmdp-year-picker
  .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden)
  span:hover {
  @apply bg-transparent border-b border-gray-500 !important;
}

.rmdp-month-picker .rmdp-day.rmdp-selected span:not(.highlight),
.rmdp-year-picker .rmdp-day.rmdp-selected span:not(.highlight) {
  @apply bg-transparent border-b border-landing-orange !important;
}

.rmdp-month-picker .rmdp-day.rmdp-today span,
.rmdp-year-picker .rmdp-day.rmdp-today span {
  @apply bg-transparent border-b border-landing-primaryBorder !important;
}

/* /////////////////////////////////////////////////////////
///////  LOADING ANIMATION
///////////////////////////////////////////////////////// */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
